* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif !important;
  font-size: 18px;
  color: #606266;
  line-height: 1.7;
  background: #f8f9fa;
}
li {
  list-style: none;
}
li:before {
  content: "- ";
}
/* BANNER  */
.banner {
  height: 68vh;
  background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(../images/banner.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-name {
  color: #f4f4f5;
  font-size: 4.625em;
}
.info-job {
  display: block;
  font-size: 1.25em;
  color: #c8c9cc;
  margin-top: 12px;
  line-height: 1.85;
}
.img-avatar {
  width: 10%;
  height: 10%;
  object-fit: cover;
  transform: scale(5);
  border-radius: 50%;
  border: 3px solid #fff;
}
.icon-blue {
  color: #409eff;
  font-size: 20px;
}
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #606266;
  line-height: 1.8;
}

/* HOBBIES  */
.tvh-d-flex {
  display: flex;
  align-items: center;
}
/* WORK EXPER IENCE */
.tvh-grid-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.tvh-grid-r1 {
  grid-column: 1;
}
.tvh-mb-4 {
  margin-bottom: 2rem;
}
.tvh-grid-boder {
  border: 1px solid #ced4da;
}
.now {
  background-color: #0066ff;
  border-radius: 8px;
  padding: 6px 10px;
  border: none;
  color: #fff;
}
/* PROJECTS  */
.tvhmp1 {
  padding: 0;
  width: calc(100% / 3 - 1em);
}

/* LANGUAGE  */
.active {
  display: inline-block;
  width: 100px;
  height: 5px;
  border-radius: 100px;
  background-color: #1971c2;
  margin-right: 5px;
}
.not-active {
  display: inline-block;
  width: 100px;
  height: 5px;
  border-radius: 100px;
  background-color: #868e96;
  margin-right: 0.325em;
}

.list-unstyled-none::before {
  content: "";
}
/* PERSONAL INFOMATION  */
.tvh-bg-object {
  background-color: rgba(245, 245, 245, 0.6);
}
.tvh-bg-infomation {
  background-color: rgba(240, 240, 240, 1);
}
/* SKILLS  */
.ic-icon {
  color: #748ffc;
}
.ic-hobb {
  border-radius: 50%;
  border: 2px solid #99e9f2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 12px;
}
/* CERTIFICATIONS & AWARDS  */
.boder-left {
  border-left: 2px solid #d6c08d;
  padding-left: 1em;
}
.boder-bottom {
  border-bottom: 2px solid #d6c08d;
  padding-bottom: 1em;
}
.pjj-year {
  background-color: #0066ff;
  color: #fff;
  border-radius: 100px;
  padding: 4px 12px;
  text-align: center;
  width: 63px;
  display: inline-block;
}
/* FOOTER  */
.footer-icon {
  color: #409eff;
}

/* DIGITAL CV  */

.boder-digital {
  display: block;
  width: calc(2rem + 1.5vw);
  height: calc(2rem + 1.5vw);
  background-color: #748ffc;
  border-radius: 50%;
  border: 2px solid #606266;
}
.boder-bottom-gray {
  border-bottom: 2px solid #c8c9cc;
}
.boder-bottom-bluebo {
  border-bottom: 2px solid #40a0ff61;
}
.boder-bottom-blueli {
  border-bottom: 2px solid #40a0ff1d;
}
.digital-cv {
  display: grid;
  row-gap: 2em;
  column-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.tvhboder {
  padding: 2em 1em 2em 1em;
  margin: auto;
}
.tvh-13-12 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.tvh-34-12 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.tvh-45-13 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
.tvh-13-23 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.tvh-34-23 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.nowrap {
  flex-wrap: nowrap;
}
.tvh-bg-digi1 {
  background-color: rgba(238, 248, 255, 0.9);
}
.tvh-bg-digi2 {
  background-color: rgba(45, 0, 255, 0.8);
}
.pleft {
  padding-left: 2.5rem;
}

@media (max-width: 767.98px) {
  .img-hidden {
    display: none;
  }
  .width687 {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .boder-left {
    border-left: none;
    padding-left: auto;
  }
  .boder-bottom {
    border-bottom: none;
    padding-bottom: auto;
  }
}
@media (max-width: 991.98px) {
  .img-hidden {
    display: none;
  }
  .digital-cv {
    display: block;
  }
  .tvh-row {
    flex-wrap: nowrap;
  }
  .tvh-block {
    display: block;
  }
  .tvh-pl-3 {
    padding-left: 2rem;
  }
}
